
#controls label {
  font-size: 30px;
  margin-top: 10px;
}

#controls input[type=range] {
  margin-top: 6px;
  width: calc(50vw - 100px);
}

#controls input[type=color] {
  width: calc(50vw - 100px);
  height: 26px;
}
